{% assign item = post | default: page %}

<article class="archive__item" itemscope itemtype="https://schema.org/CreativeWork">

  {% if item.title %}
    <h2 class="archive__item-title no_toc" itemprop="headline">
      {% if item.link %}
        <a href="{{ item.link }}">{{ item.title }}</a>
      {% else %}
        <a href="{{ item.url | relative_url }}">{{ item.title }}</a>
      {% endif %}
    </h2>
  {% endif %}

  {% if item.authors %}
    <p class="archive__item-authors">
      {{ item.authors | join: ", " | replace_last: ",", ", and" }}
    </p>
  {% endif %}

  {% if item.author_note %}
    <p class="archive__item-authors-note">
      {{ item.author_note | markdownify }}
    </p>
  {% endif %}

  {% if item.journal %}
    <p class="archive__item-meta">
      Published in <em>{{ item.journal }}</em>.
    </p>
  {% endif %}

</article>
